#container {
  position: relative;
  
  @include flexbox();
  
  @include themify($themes) {
      color: themed('body-color');
      background-color: themed('backdrop-background-color');
      hr {
        border-color: themed('hr-color');
      }
  }
}

html {
  overflow-x: hidden;
}

#backgroundimg {
  background-image: url('../images/background.png');
  background-position: center top; 
  background-size: 100%;
}
