$dark: (
    footer-background-color: #191F19aa,
    footer-color: #bdbdbd, 
    link: #FFD866,
    link-hover: #FF6188,
    title-color: #ffd866,
    meta-color: #FCFCFA,
    body-color: #FCFCFA,
    hr-color: #595B5C,
    body-background-color: #2B332Bf5,
    backdrop-background-color: #14261Abb,
    dropdown-border-top-color: #424242,
    dropdown-item-active-background-color: #424242ee,
    dropdown-content-background-color: #595B5Cee,
    dropdown-item-hover-background-color: #727072ee,
    dropdown-item-hover-color: #FCFCFA,
    dropdown-item-color: #FCFCFA,    
    navbar-border-bottom-color: #4e4e4e,
    navbar-background-color: #191F19aa,
	navbar-item-background-color: #ffffff00,
	navbar-item-background-color-hover: lighten(#191F19cc, 5%),
    navbar-mobile-background-color: #3a3a3aaa,
    navbar-title-color: #FCFCFA,
    navbar-title-hover-color: #FFD866,
    navbar-title-active-color: #FF6188,
    navbar-menu-hover-background-color: lighten(#191F19cc, 5%),
    navbar-dropdown-item-hover-color: #FFD866,
    sidebar-title-color: #aed581,
    sidebar-li-color: #FCFCFA,
    taxo-title-color: #bdbdbd,
    taxo-num-color: #FCFCFA,
    taxo-num-background-color: #1B241Eaa,
    taxo-tags-background-color: lighten(#1B241E, 13%),
    taxo-tags-color: #78DCE8,
    taxo-series-background-color: lighten(#1B241E, 13%),
    taxo-series-color: #EA9C77,
    taxo-categories-background-color: lighten(#1B241E, 13%),
    taxo-categories-color: #AB9DF2,
    breadcrumb-item-color: #82aaff,
    breadcrumb-background-color: #1B241Eaa,
    breadcrumb-item-active-color: #bdbdbd,
    list-header-title-color: #FCFCFA,
    figcaption-color: #bdbdbd,
    figcaption-strong-color: #FCFCFA,
    single-hr-background-color: #595B5Caa,
    single-blockquote-border-color: #FCFCFA,
    single-header-title-color: #FCFCFA,
    single-contents-title-color: #aed581,
    single-contents-subtitle-color: #FCFCFA,
    related-header-title-color: #FCFCFA,
    related-link-color: #A9DC76,
    content-box-border-color: #616161,
    content-box-background-color: #191F19aa,
    burger-menu-color: #FCFCFA,
    social-icon-color: #bdbdbd,
    social-icon-hover-color: lighten(#bdbdbd, 20%),
    pagination-link-color: #82aaff,
    pagination-background-color: #1B241Eaa,
    pagination-disabled-color: #757575,
    pagination-number-color: #FCFCFA,
    terms-title-color: #ddd,
    terms-title-shadow-color: #000000,
    terms-tags-color: #78DCE8,
    terms-categories-color: #AB9DF2,
    terms-series-color: #EA9C77,
    terms-len-color: #727072,
    terms-background-color: #191F19dd,
    toc-label-color: #727072,
    toc-title-color: #90a4ae,
    toc-link-color: #a49866,
    toc-link-hover: #906188,
    toc-vertical-line: #727072,
    toc-vertical-line-active: #FF6188,
    toc-header-background-color: #191F19aa,
    toc-header-background-color-hover: #424242aa,
    toc-body-background-color: #191F19aa,
    search-placeholder-color: #727072,
    search-color: #FCFCFA,
    search-icon-color: #727072,
    search-border-color: #1d1d1d,
    search-border-outline-color: rgba(66, 66, 66, 0.45),
    search-border-active-color: #424242,
    search-content-color: inherit,
    search-background-color: #1B241Eaa,
    search-content-background-color: lighten(#191F19, 5%),
    search-hover-background-color: #191F19aa,
    search-highlight-color: #FF6188,
    selection-color: #FCFCFA,
    selection-background-color: #FF6188aa,
    archive-key-color: #FCFCFA,
    archive-type-color: #82aaff,
    archive-meta-color: #aed581,
    archive-key-background-color: #FF6188aa,
    archive-type-background-color: #424242aa,
    archive-hover-line-color: #FF6188,
    gtt-color: #bdbdbd,
    gtt-background-color: #191F19aa,
    gtt-hover-color: #82aaff,
    gtt-hover-background-color: lighten(#191F19, 5%),
    switch-background-color: #191F19aa,
    switch-button-color: #FCFCFA,
    switch-active-color: #FF6188,
    gallery-mask-color: #FCFCFA,
    gallery-mask-background-color: rgba(0, 0, 0, 0.7),
    contact-input-color: #FCFCFA,
    contact-input-background-color: lighten(#191F19, 5%),
    contact-button-background-color: lighten(#191F19, 5%),
    custom-scrollbar-foreground-color: #888,
    custom-scrollbar-background-color: #eee,
    share-color: #bdbdbd,
    share-shadow-color: #80808066,
    share-background-color: #52525266,
    share-color-hover: lighten(#bdbdbd, 20%),
    share-background-color-hover: #52525266,
    button-primary-color: $button_dark_primary_color,
);